{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/opposum-detail.css' %}"
/>
{% endblock %} {% block content %}

<section class="opposum-container">
  <div class="opposum-img">
    <img
      src="{% static 'images/bday.png' %}"
      alt="Opposum in Bday party hat"
    />
  </div>
  <div class="opposum-details">
    <h1>{{ opposum.name }}</h1>
    {% if opposum.age > 0 %}
    <h2>A {{ opposum.age }} year old {{ opposum.breed }}</h2>
    {% else %}
    <h2>A {{ opposum.breed }} kitten.</h2>
    {% endif %}
    <p>{{ opposum.description }}</p>
    {% comment %} New markup {% endcomment %}
    <div class="opposum-actions">
      <a href="{% url 'opposums_update' opposum.id %}" class="btn warn">Edit</a>
      <a href="{% url 'opposums_delete' opposum.id %}" class="btn danger">Delete</a>
    </div>
    {% comment %} New markup above {% endcomment %}
  </div>
  </div>
</section>

{% endblock %}
