{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/opposum-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Opposum List</h1>
  <img src="{% static 'images/pjpossum.jpg' %}" alt="Opposum in pajamas" />
  <img src="{% static 'images/Majesty.jpg' %}" alt="Pretty boi in snow" />
  <img src="{% static 'images/floral.jpeg' %}" alt="Opposum in flower crown" />
  <img src="{% static 'images/jojo.jpg' %}" alt="Jojo Siwa Opposum" />
</section>

<section class="card-container">
  {% for opposum in opposums %}
    <div class="card">
      {% comment %} Add this line {% endcomment %}
      <a href="{% url 'opposums_detail' opposum.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/bday.png' %}" 
              alt="Opposum in Bday party hat"
            >
          </div>
          <h2 class="card-title">{{ opposum.name }}</h2>
          {% if opposum.age > 0 %}
            <p>A {{ opposum.age }} year old {{ opposum.breed }}</p>
          {% else %}
            <p>A {{ opposum.breed }} garbage baby.</p>
          {% endif %}
          <p><small>{{ opposum.description }}</small></p>
        </div>
      {% comment %} And this line {% endcomment %}
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}